        body {
          margin: 0;
          padding: 0;
          min-height: 100vh;
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          background-color: #f0f0f0;
        }

        .Titulo {
            text-align: center;
            margin: 20px auto;
            background: #ffffff;
            padding: 20px 110px;
            border: 2px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .Titulo h1 {
            text-align: center;
            color: #333;
        }

        p {
            text-align: justify;
            font-size: 16px;
            margin-top: 10px;
        }
        
        .contenedor-imagen {
            position: relative;
            display: inline-block;
        }

        .contenedor-imagen img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .boton {
            position: absolute;
            padding: 10px 15px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transform: translate(-50%, -50%);
            transition: background-color 0.3s ease;
        }

        .boton:hover {
            background-color: #2980b9;
        }

        .boton.boton1{
            top: 92%;
            left: 11.8%;
        }

        .boton.boton2 {
            top: 92%;
            left: 19%;
        }

        .boton.boton3 {
            top: 92%;
            left: 26%;
        }

        .boton.boton4 {
            top: 92%;
            left: 32.8%;
        }
        .boton.boton5 {
            top: 92%;
            left: 42%;
        }
        .boton.boton6 {
            top: 92%;
            left: 53%;
        }
        .boton.boton7 {
            top: 92%;
            left: 65%;
        }
        .boton.boton8 {
            top: 92%;
            left: 78%;
        }
        .boton.boton9 {
            top: 92%;
            left: 90%;
        }  
        .ventanilla {
            display: none;
            /* Oculto por defecto */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* Fondo semitransparente */
            justify-content: center;
            align-items: center;
        }

        .vent {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 400px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .vent h2 {
            margin: 0 0 10px 0;
        }

        .vent p {
            margin: 0 0 20px 0;
        }

        .close {
            background-color: #e74c3c;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;
        }

        .close:hover {
            background-color: #c0392b;
        }
        label{
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            text-align: justify;
            background: #ffffff;
          
        }
        .sintoma{
            font-family: 'Arial', sans-serif;
            font-size: 12px;
            text-align: justify;
            background: #ffffff;
        }
        .caracteristica{
            font-family: 'Arial', sans-serif;
            font-size: 12px;
            text-align: justify;
            background: #ffffff;
        }
        form {
            max-width: 700px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        select {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
        }
        .botonDiagnostica{
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            
        }
        .resultado {
            display: none;
            /* Oculto por defecto */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* Fondo semitransparente */
            justify-content: center;
            align-items: center;
        }
        .gusanoE{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 750px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        }

        .gusanoC{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 750px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .gusanoS{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 750px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .gallinaC{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 750px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .arañaR{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 750px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .gusanoA{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 750px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .gusanoAl{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 750px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .resultado h2{
            font-size:20px;
        }
        .resultado h3{
            font-size:15px;
        }
        .resultado h4{
            font-size:10px;
        }
        .contenedor {
            display: grid;
            width: 400px;
            grid-template-columns: repeat(5, 1fr); /* 4 columnas iguales */
            gap: 1px;
            justify-items: center; /* Centra imágenes */
        }
        
        .imagen-texto {
            text-align: center;
            /*font-size: 5px;*/
            width: px;
            
        }
        .imagen-texto li{
            font-size: 12px;
            text-align: justify;

        }
        .imagen-texto p{
            font-size: 10px;
            text-align: justify;
        }
        .imagen-texto h5{
            font-size: 15px;
            text-align: justify;
        }
        .imagen-texto img{
            width: 140px;
            height: 60px;
            
        }
        .cerrar {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;
        }

        .cerrar:hover {
            background-color: #45a049;
        }
        .contiene-dos {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 3 columnas */
            gap: 10px;
            max-width: 400px;
            margin: auto;
          }
        .contiene-tres {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columnas */
            gap: 10px;
            max-width: 400px;
            margin: auto;
          }
      
          .contiene-cuatro {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 3 columnas */
            gap: 10px;
            max-width: 700px;
            margin: auto;
          }
          .contiene-cinco {
            display: grid;
            grid-template-columns: repeat(5, 1fr); /* 3 columnas */
            gap: 10px;
            max-width: 900px;
            margin: auto;
          }
      
          .grid-item {
            position: relative;
            text-align: center;
          }
          .inciso {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 4px 8px;
            font-weight: bold;
            border-radius: 4px;
          }
      
          .imagen {
            width: 100%;
            height: 200px;
            border-radius: 10px;
          }
          button {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #45a049;
        }
        @media (max-width: 768px) {

          html, body {
            height: auto !important;
            min-height: 100% !important;
            overflow-y: auto !important;
          }

          body {
            display: block !important;
          }

          /* Evita que algo esté cortando el alto */
          .contenedor-imagen,
          .Titulo,
          form {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
          }

          /* Centrar el form correctamente */
          form {
            margin: 0 auto !important;
          }

        }
